@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Pushster', cursive;
}

.container{
    width: 97%;
    margin: auto;
}

h1{
    float: left;
}

header{
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#menu-bar{
    display: none;
}

header label{
    float: right;
    font-size: 30px;
    cursor: pointer;
}

header .container{
    display: table;
}

.menu{
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(138, 43, 226, 0.9);
    transition: all 0.8s;
    transform: translateX(-100%);
}
.menu a{
    display: block;
    color: #fff;
    text-decoration: none;
    /* height: 50px; */
    padding: 15px;
    border:#fff solid 1px;
}

.menu a:hover{
    background-color: rgb(167, 105, 224);
}

#menu-bar:checked ~.menu{
    transform: translateX(0%);
}

section{
    width: 100%;
    margin-top: 50px;
}

#banner{
    margin-top: 50px;
    position: relative;
}

#banner img{
    width: 100%;
    height: 100%;
    /* max-height: 500px; */
}

#banner .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(34, 204, 190);
}

#banner h2{
    font-size: 28px;
}

#banner a{
    display: block;
    width: 100px;
    color: rgb(174, 255, 127);
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: solid #fff;
}

#banner a:hover{
    background: rgba(133, 122, 125, 0.7);
}

#welcome{
    text-align: center;
}

#welcome h2{
    padding: 15px;
    text-transform: uppercase;
}

#blog {
    padding: 50px;
}

#blog h4{
    text-align: center;
}

#blog .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article{
    margin: 15px;
}

#blog img{
    width: 100%;
    max-width: 280px;
    height: 100%;
    max-height: 200px;
}

#info{
    background: cyan;
    color: darkgray;
    text-align: center;
    padding: 30px;
}

#info h2{
    padding: 15px;
    text-transform: uppercase;   
}

#info .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-pet{
    margin: 20px;
}

.info-pet img{
    width: 100%;
    max-width: 180px;
    height: 130px;;
    max-height: 100%;
    border-radius: 50%;
    border:rgb(250, 250, 250) solid 5px;
}

#maps{
    background-color: rosybrown;
    color: snow;
    text-align: center;
    padding: 50px;
}

#maps h3{
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

#maps .container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: right; */
    padding: 30px;
}

#maps .container iframe{
    width: 45%;
    
}

#maps .container p{
    padding: 40px;
    width: 50%;
    text-align: left;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
    color: #fff;
    background-color: rgb(102, 109, 109);
    width: 100%;
}

.copy {
    font-size: 25px;
    padding: 20px;
}

.red-soc{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.red-soc a{
    color: #fff;
    text-decoration: none;
}